.tab-panel-password{
            display: flex;
            flex-wrap: wrap;
            border: 1px solid #ccc;
            border-radius:6px ;
            background: #fff;
        }
        .tab-panel-password > div{
            display: flex;
            gap: 10px;
            align-items: center;
            padding: 14px 16px;
            border-right:1px solid #ccc ;
            flex: 1;
            min-width: 160px;
        }
        .tab-panel-password > input{
            margin-left: 60px;
            margin-bottom: 30px;
        }
        .tab-panel-password > button{
            margin-left: 20px;
        }